<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65062807282-iblo7ijghk2ooi4fc80ntt0v9di0m0ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65062807282-iblo7ijghk2ooi4fc80ntt0v9di0m0ki</string>
	<key>API_KEY</key>
	<string>AIzaSyD9qlRtKvWqw0lBjjOIqOvh1OafJgN1tXE</string>
	<key>GCM_SENDER_ID</key>
	<string>65062807282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imerkulenko.VideoFeed</string>
	<key>PROJECT_ID</key>
	<string>videofeed-9dd5e</string>
	<key>STORAGE_BUCKET</key>
	<string>videofeed-9dd5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65062807282:ios:5e7f08b7b2ca1dbdbdd26b</string>
</dict>
</plist>